@model App_Data_ClassLib.Models.DanhMucSP

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Thêm mới</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" class="needs-validation" novalidate enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Tạo mới</button>
                <a asp-action="Index" class="btn btn-secondary">Trở về danh sách</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

                <style>
    /* Định dạng các nhãn và input */
    .form-group label {
        font-weight: bold;
    }

    .form-group input[type="text"],
    .form-group input[type="number"] {
        width: 100%;
    }

    /* Định dạng nút Create */
    .btn-create {
        background-color: #007bff; /* Màu nền */
        color: #fff; /* Màu chữ */
        border: none;
    }

    .btn-create:hover {
        background-color: #0056b3; /* Màu nền khi di chuột qua */
    }

    /* Định dạng link Back to List */
    .back-link {
        color: #007bff;
    }

    .back-link:hover {
        color: #0056b3; /* Màu chữ khi di chuột qua */
    }
    .form-group{
        margin-top:10px;
    }
</style>